@use 'base/variables' as *;


@mixin befeore_circle {
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 22%;
        left: 0;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background:$main-color; 
    }

}